<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet"href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"crossorigin="anonymous"/>
  </head>
  <body>
    <header class="header"> 
      <div class="header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo" alt="" />
        <div class="containers-search">
          <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas" />
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>

        <div class="h2">
          <h2 class="compra">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h2>
        </div>
      </div>

      <nav class="nav-bot-bar">
        <ul class="top-list">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="bot-list">
          <li>
            <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-out-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>

      <a href="#" class="burguer-menu">
        <i class="fas fa-bars"></i>
      </a>
    </header>

    <main class="main-register">

      <div class="container-register">

        <form action="" method="">

          <h3 class="h3-register">Registrarse</h3>

          <div >

            <div class="container-input">
              <input type="text" name="nombre" placeholder="Nombre y apellido">
              <span class="error-message">Debes ingresar tu nombre y apellido</span>
            </div>
        
            <div >
              <div class="container-input">
                <input type="text" name="nombre-usuario" placeholder="Nombre de usuario">
                <span class="error-message">Debes ingresar un nombre de usuario</span>
              </div>

              <div class="container-input">
                <input type="email" name="email" placeholder="email" value="">
              <span class="error-message">Debes ingresar tu email</span>
              </div>
              

              <h3>Fecha de Nacimiento</h3>
              
              <div class="container-input">
                <input type="date" name="fecha" placeholder="dd/mm/aaaa">
              </div>

              <div class="container-input">
                <input type="text" name="Domicilio" placeholder="Domicilio">
                <span>Debes ingresar su domicilio</span>
              </div>

              <div   class="input-radio">
                <h3>Perfil del usuario</h3>
                <div >
                    <label for="compra">Comprador <input type="radio" name="perfil" id="compra" value="comprador" ></label>  
                    <label for="Venta">Vendedor <input type="radio" name="perfil" id="venta" value="vendedor"></label>
                </div>
              </div>

              
                
                <div class="input-checkbox">
                  <h3>Intereses</h3>
                  <label for="electro">Electro <input type="checkbox" name="electro" id="intereses" value="electro"></label><br>
                  <label for="moda">Moda <input type="checkbox" name="moda" id="intereses" value="moda"></label><br>
                  <label for="hogar">Hogar <input type="checkbox" name="hogar" id="intereses" value="hogar"></label><br>
                  <label for="jugueteria">Jugueteria<input type="checkbox" name="jugueteria" id="intereses" value="jugueteria"></label><br>
                  <label for="vida sana">Vida Sana<input type="checkbox" name="vida sana" id="intereses" value="vida sana"></label>
                </div>
              
              
                <div class="container-file">
                  <h3>Seleccione su foto de usuario</h3>
                  <div class="custom-input-file">
                    <input type="file" name="Usuario" class="input-file">
                    subir foto  
                </div>
              </div>

              <div  class="container-input">
                <input type="password" name="contraseña"  placeholder="Contraseña">
                <span class="error-message">Ingrese una contraseña</span>
              </div>

              <div  class="container-input">
                <input type="password" name="contraseña"  placeholder="Reingrese su contraseña">
                <span class="error-message" >Debe confirmar su contraseña</span>
              </div>

              <div class="container-button-register">
                <div >
                  <button type="submit"> <a href="/">Enviar</a></button>
                </div>

                <div >
                  <button type="reset">Borrar</button>
                </div>
              </div>

            </div>
          
          </div>
        </form>
      </div>
    </main>



    <footer class="footer">
      <section class="articulo">
        <i class="fas fa-credit-card"></i>
        <br />
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section class="articulo">
        <i class="fas fa-gift"></i>
        <br />
        <h5>Envío gratis desde $ 2.500</h5>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section class="articulo">
        <i class="fas fa-user-shield"></i>
        <br />
        <h5>Seguridad, de principio a fin</h5>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>

      <section>
        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>